.php-error {
   
    background-color: #f44336;
    color: white;
    padding: 3px 10px 15px 10px;
    margin: 10px 0;
    border-radius: .5em;
    border: 1px solid;
    box-shadow: 1px 1px 3px #888;
    font-size: 15px;
}

/* The close button */
.php-error > .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.php-error > .closebtn:hover {
    color: black;
}